body {
  background-color: #f3fff3;
}

.blue-rectangle {
  width: 300px;
  height: 150px;
  background-color: #055a9e;
  border: double 8px black;
  margin: 20px auto;
  font-size: 20px;
  color: #12c615;
}

#delete {
  background-color: #072e78;
  color: red;
  border: 1px solid black;
  position: absolute;
  margin-left: 180px;
  margin-top: 5px;
  cursor: pointer;
}

#data{
  position: absolute;
  margin-left: 80px;
}

#input1{
  color: #12c615;
  background: transparent;
  max-width: 60px;
}
