{% extends 'layout.html' %}
{% block content %}
    <h2 style="margin-bottom: 1.5rem;">Dodaj nowy utwór</h2>
    <form method="POST">
        <label for="title">Tytuł utworu:</label>
        <input type="text" id="title" name="title"  required>

        <label for="artist">Wykonawca:</label>
        <input type="text" id="artist" name="artist" required>

        <label for="opinion">Opinia</label>
        <textarea id="opinion" name="opinion" rows="5"  required></textarea>

        <button type="submit" class="btn btn-submit">Dodaj do bazy</button>
    </form>
{% endblock %}